<app-nav-bar-form></app-nav-bar-form>
<div class="barra-progreso-max"></div>
<div class="ctn-tam">
    <form action="" class="info-ctn" name="passForm" #passForm="ngForm"  (ngSubmit)="onSubmit(passForm)">
        <div class="info-title-ctn">
            <h3 class="info-title">{{"Cam-pass-title" | translate}}</h3>
        </div>
        <div class="inputs-ctn">
            <div class="input-ctn">
                <input type="password" name="pass" class="input" id="pass" #pass="ngModel" [(ngModel)]="passModal.pass"
                       placeholder="{{'Cam-pass-placeholder1' | translate}}" required>
            </div>
            <div class="input-ctn">
                <input type="password" name="passConfirm" class="input" id="passConfirm" #passConfirm="ngModel" [(ngModel)]="passModal.passConfirm"
                       placeholder="{{'Cam-pass-placeholder2' | translate}}" required>
            </div>
            <div class="btn-ctn">
                <button #btnSiguiente type="submit" class="inicio" [disabled]="!passForm.form.valid" >{{"Btn-env" | translate}}</button>
            </div>
        </div>
    </form>
</div>

<!-- TODAVIA SE DENE SOLUCIONAR COMO LEVVANTAR EL MODAL DESDE UN ELSE, PARA PODER RECIBIR EL #alertMarker -->
<ng-template #alerMarker let-modal >
    <div class="modal-ctn-padre">
        <div class="modal-ctn">
            <h2 class="modal-logo"><div class="logo-rodd-modal"></div></h2>
            <button type="button" class="btn-cancel icon-cancel-circle"  (click)="closeAlert()"></button>
        </div>
        <div class="m-top"></div>
        <div class="modal-sep"></div>
        <div class="modal-contenido-central">
            <h4 class="modal-title" >{{ msgError }}</h4>
        </div>
        <div class="modal-sep"></div>
        <div class="modal-btn-ctn">
            <div class="modal-btns">
                <button type="button" class="modal-btn modal-acep" (click)="closeAlert()">{{"Modal.acep" | translate}}</button>
            </div>
        </div>
    </div>
</ng-template>
