<div class="ctn-panel" >
    <main class="panel-main-ctn">
        
        <div class="panel-input-ciudad">
            <div class="text-error-ctn" *ngIf="errorCiudad != ''">
                <span class="text-error2">{{errorCiudad}}</span>
            </div>
        <input (blur)="beforeFocus()" #inputGoogle class="panel-input" placeholder="{{title + tramo}}" ngx-google-places-autocomplete #placesRef="ngx-places" (onAddressChange)="handleAddressChange($event)"/>

<!-- <input type="text" placeholder="{{title + tramo}}" class="panel-input"> -->
            <span class="icon-location"></span>
        </div>

        <div class="panel-buttons-ctn">
            <div class="title-panel-fecha">
                <h5 class="title-fecha">{{ 'PanelViajes.fecha' | translate }}</h5>
            </div>
            <div class="fechas-ctn">
                <div class="text-error-ctn2" *ngIf="errorFecha != ''">
                    <span class="text-error2">{{errorFecha}}</span>
                </div>
                <div class="text-error-ctn2" *ngIf="errorHora != ''">
                    <span class="text-error2">{{errorHora}}</span>
                </div>
                <div class="panel-date">
                    <input class="form-control otracosa" placeholder="{{ 'PanelViajes.dd-mm-aaaa' | translate }}"
                           name="dp" [(ngModel)]="model" ngbDatepicker #d="ngbDatepicker">
                    <div class="input-group-append">
                        <button class="btn-calendar icon-calendar" (click)="d.toggle()" type="button"></button>
                    </div>
                </div>
                <div class="panel-hours">
                    <ngb-timepicker [(ngModel)]="time"></ngb-timepicker>

                </div>

            </div>
            <div class="mas-menos">
                <div *ngIf="mostrasMas" class="footer-circle" (click)="deleteMultipunto($event)" >
                    <span class="icon-bin" ></span>
                </div>
                <div *ngIf="mostrasMas" class="footer-circle" (click)="addNewMultipunto($event)" >
                    <span class="icon-plus" ></span>
                </div>
            </div>

        </div>
    </main>
    
</div>

<!-- <div class="ctn-panel" >
    <header class="panel-header-ctn">
        <div class="panel-header-card-sup">
            <p class="header-card-title">Multidestino</p>
            <span class="icon-arrow-right mld"></span>
        </div>
        <h5 class="panel-header-title">{{title + tramo}}</h5>
    </header>

    <main class="panel-main-ctn">
        <div class="panel-input-ciudad">
            <input type="text" placeholder="Seleccione ciudad de origen" class="panel-input">
        </div>
        <div class="panel-buttons-ctn">
            <div class="panel-date">
                <button class="temporal" type="button">Fecha</button>
            </div>
            <div class="panel-hours">
                <button class="temporal" type="button">Hora</button>
            </div>

        </div>

    </main>
    <footer class="panel-footer-ctn">

        <div *ngIf="mostrasMas" class="footer-circle" (click)="deleteMultipunto($event)" >
            <span class="icon-bin" ></span>
        </div>
        <div *ngIf="mostrasMas" class="footer-circle" (click)="addNewMultipunto($event)" >
            <span class="icon-plus" ></span>
        </div>

    </footer>
    <div class="panel-divisor"></div>
</div> -->
