<!-- MENU LOGIN -->
<app-NavBar
  [notifyLogin]="datoLogin"
  (empresa)="isEmpresa($event)"
></app-NavBar>
<!-- CABECERA -->
<div class="ctn-header">
  <div class="img-header"></div>
  <div *ngIf="!tieneEmpresa" class="btn-header">
     <button class="btn-header-via" (click)="redirecEmpresa().sumaEmpresa()" >{{ "Btn-emp" | translate }}</button>
  </div>
  <div *ngIf="tieneEmpresa" class="btn-header">
     <button class="btn-header-via" (click)="redirecEmpresa().miEmpresa()" >{{ "Btn-mi-emp" | translate }}</button>
  </div>
  <div class="sombra">
      <div class="title-input-ctn">
          <h1 class="title-gral">{{ "Header-title.parte1" | translate }} <br> {{ "Header-title.parte2" | translate }} </h1>
      </div>
  </div>
</div>


<div class="panel__viajes-padre-ctn">
    <div class="sub-panel__viajes-ctn">
        <app-headerpanelviajes #headermenus
                               (ida)="eventida()"
                               (idaVuelta)="eventIdaVuelta()"
                               (multipunto)="multipunto()"
															 [isIda]="isIda"
															 [isVuelta]="isVuelta"
															 [isIdaVuelta]="isIdaVuelta"
        ></app-headerpanelviajes>
        <app-panelviajes #refOrigen
          [title]="confOrigen.title"
          [verPersona]="confOrigen.verPersona"
          [idaYvuelta]="confOrigen.idaYvuelta"
          [btnFooter]="confOrigen.btnFooter"
          [titleMenuChanges]="confOrigen.titleMenuChanges"
        ></app-panelviajes>

        <app-panelviajesitermedio *ngFor="let item of listMultipunto; index as indice"
          (addMultipunto)="newMultipunto($event)"
          (delMultipunto)="delOldMultipunto($event)"
          [title]="item.title"
          [tramo]="indice + 1"
          [indice]="item.indice"
        ></app-panelviajesitermedio>

        <app-panelviajes #refDestino
          [title]="confDestino.title"
          [verPersona]="confDestino.verPersona"
          [idaYvuelta]="confDestino.idaYvuelta"
          [btnFooter]="confDestino.btnFooter"
          [titleMenuChanges]="confDestino.titleMenuChanges"
        ></app-panelviajes>
        <div class="btn-continuar-ctn">
          <button (click)="consultBudget()" class="btn-panel-continuar">{{ 'PanelViajes.btn-continuar' | translate }}</button>
        </div>
    </div>
    
    
</div>



<!-- COMPONENTES DE INFORMACION -->
<div class="info-ctn bacco-white">
  <div class="info-title-ctn2">
      <h3 class="info-title2">{{ "Encontra-title.parte1" | translate }} <br>
        {{ "Encontra-title.parte2" | translate }}</h3>
  </div>
  <div class="info-text-ctn">
      <p class="info-text">{{"Text-encontra.parte1" | translate }}<br>
        {{"Text-encontra.parte2" | translate }}</p>
  </div>

  <div class="cirlulos-ctn">
      <div class="circulos"></div>
      <div class="circulos"></div>
      <div class="circulos"></div>
      <div class="circulos"></div>
      <div class="circulos"></div>
  </div>
  
</div>

<div class="info-ctn">
  <div class="info-title-ctn2">
      <h3 class="info-title2">{{"Decision-title" | translate}}</h3>
  </div>
  <div class="info-text-ctn">
      <p class="info-text">{{"Text-decision.parte1" | translate }} <br>
        {{"Text-decision.parte2" | translate }}<br>
        {{"Text-decision.parte3" | translate }}<br>
        {{"Text-decision.parte4" | translate }}</p>
  </div>    
  <div class="cajas"></div>
</div>
<div class="info-ctn bacco-cl-ter">
  <div class="info-title-ctn2">
      <h3 class="info-title2">{{"Puntos-title.parte1" | translate }} <br>
        {{"Puntos-title.parte2" | translate }}</h3>
  </div>
  <div class="info-text-ctn">
      <p class="info-text">{{"Text-puntos.parte1" | translate }}<br>
        {{"Text-puntos.parte2" | translate }}</p>
  </div>
  <div class="cajas2"></div>
</div>
<!-- FOOTER -->
<div class="reg-ctn">
  <p class="text-reg">{{"Text-reg.parte1" | translate }}<br>
    {{"Text-reg.parte2" | translate }}</p>    
  <button class="btn-reg" >{{"Btn-reg" | translate}}</button>
</div>
<app-footer></app-footer>
