<app-nav-bar-form></app-nav-bar-form>
<div class="ctn-tam">
    <form action="" class="form-ctn" name="nuevaempresaForm" #nuevaempresaForm="ngForm"  (ngSubmit)="onSubmit(nuevaempresaModel)">
        <div class="info-title-ctn">
            <h3 class="info-title">{{"Nueva-emp-name-title" | translate}}</h3>
        </div>      
        <div class="input-ctn">
            <input type="text" name="nombre" class="input" id="nombre" #nombre="ngModel" [(ngModel)]="nuevaempresaModel.nombre" 
            placeholder="{{'Nueva-emp-name-input' | translate}}" autocomplete="off" required>
        </div>
        <div class="btn-ctn">
            <button type="submit" class="inicio" [disabled]="!nuevaempresaForm.form.valid" >
                {{"Nueva-emp-btn" | translate}}</button>
        </div>    
        
    </form> 
</div>
 
