<footer class="foo-ctn">
    <div class="foo-header-ctn">
        <div class="foo-logo-ctn">
            <a href="/" class="foo-logo"></a>
        </div>    
    </div>
    <div class="foo-main-ctn">
        <div class="foo-emp-ctn">
            <h4 class="foo-emp-title">
                Empresa
            </h4>
            <a href="https://b2b.roddapp.com/comofunciona/" class="foo-emp-link" target="_blank">
                ¿Cómo funciona?
            </a>
        </div>
        <div class="foo-legal-ctn">
            <h4 class="foo-legal-title">
                Legal
            </h4>
            <a href="https://b2b.roddapp.com/tyc/" class="foo-legal-link" target="_blank">
                Terminos y Condiciones
            </a>
        </div>
    </div>
    <div class="foo-contacto-ctn">
        <h4 class="foo-contacto-title">Contacto</h4>
        <div class="foo-icons-ctn">
            <a href="https://www.facebook.com/roddapp.argentina" class="foo-icon-fb" target="_blank">
                <span class="icon-facebook2"></span>
            </a>
            <a href="https://www.instagram.com/roddapp_ar/" class="foo-icon-insta" target="_blank">
                <span class="icon-instagram"></span>
            </a>
            <a href="https://mail.google.com/mail/?view=cm&fs=1&tf=1&to=info@roddapp.com" class="foo-icon-mail" target="_blank">
                <span class="icon-mail_outline"></span>
            </a>
        </div>
    </div>
    <div class="foo-sep"></div>
    <div class="foo-footer-ctn">
        <h5 class="foo-copy">Todos los derechos reservados | roddapp 2020 ©</h5>
    </div>
</footer>

<!--    <div class="foo-header">-->
<!--        <a class="foo-logo-title" href="#">RODDAPP</a>-->
<!--        <div class="redes-ctn">-->
<!--            <span class="icon-instagram"></span>-->
<!--            <span class="icon-linkedin2"></span>-->
<!--            <span class="icon-twitter"></span>-->
<!--        </div>-->
<!--    </div>-->
<!--    <div class="links-ctn">-->
<!--        <div class="recursos-ctn">-->
<!--            <h4 class="links-titles">{{ "Foo-recursos.Title" | translate }}</h4>-->
<!--            <a class="foo-links" href="#">{{ "Foo-recursos.link1" | translate }}</a>-->
<!--            <a class="foo-links" href="#">{{ "Foo-recursos.link2" | translate }}</a>-->
<!--            <a class="foo-links" href="#">{{ "Foo-recursos.link3" | translate }}</a>-->
<!--            <a class="foo-links" href="#">{{ "Foo-recursos.link4" | translate }}</a>-->
<!--            <a class="foo-links" href="#">{{ "Foo-recursos.link5" | translate }}</a>-->
<!--            <a class="foo-links" href="#">{{ "Foo-recursos.link6" | translate }}</a>-->
<!--        </div>-->
<!--        <div class="grupo2-ctn">-->
<!--            <h4 class="links-titles">{{ "Foo-explorar.Title" | translate }}</h4>-->
<!--            <a class="foo-links" href="#">{{ "Foo-explorar.link1" | translate }}</a>-->
<!--            <a class="foo-links" href="#">{{ "Foo-explorar.link2" | translate }}</a>-->
<!--            <a class="foo-links" href="#">{{ "Foo-explorar.link3" | translate }}</a>-->
<!--            <a class="foo-links" href="#">{{ "Foo-explorar.link4" | translate }}</a>-->
<!--        -->
<!--            <div class="div-separacion"></div>-->
<!--        -->
<!--            <h4 class="links-titles">{{ "Foo-comparar.Title" | translate }}</h4>-->
<!--            <a class="foo-links" href="https://www.plataforma10.com.ar/" target="_blank">Plataforma10</a>-->
<!--            <a class="foo-links" href="https://www.dottransfers.com/" target="_blank">DotTransfers</a>-->
<!--            <a class="foo-links" href="https://www.recorrido.cl" target="_blank">Recorrido.cl</a>-->
<!--            <a class="foo-links" href="#" target="_blank">{{ "Foo-comparar.link1" | translate }}</a>-->
<!--        </div>-->
<!--    </div>-->
<!--    <div class="copy-ctn">-->
<!--        <h4 class="copy-title">&copy; 2020 Roddapp S.A. {{"Foo-copy" | translate}}</h4>-->
<!--    </div>-->
